#define IDM_MENU 10000
#define IDM_FILE_OPEN 10003
#define IDM_FILE_CLOSE 10004
#define IDM_ 10002
#define IDM_FILE_EXIT 10001
#define IDM_HELP_INFO 10005
#define IDM_ 10006
#define IDM_HELP_ABOUT 10101
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open...\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "Close\tCtrl+F4",IDM_FILE_CLOSE
    MENUITEM "",IDM_,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&Info",IDM_HELP_INFO
    MENUITEM "",IDM_,0x00000800
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
